.detail {
  margin: 0 100px;
}
.detail .book {
  display: flex;
}

.detail .book img {
  width: 220px;
  height: 310px;
}

.detail .book .word {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(186, 186, 186);
  margin: 0px 60px;
}

.detail .book a {
  width: 47%;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 1.5em;
}

.detail .book a .arrow {
  color: white;
  margin-left: 5px;
  align-items: center;
}
