div.full.detail {
  width: 60%;
  margin: 20px auto;
  line-height: 35px;
  padding: 3px;
}

article.bbs.detail {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
article.bbs.detail div {
  border: 1px solid #ccc;
  padding: 7px;
  margin: 3px;
}

article.bbs.detail div:nth-of-type(2n-1),
div.detail.content div.title {
  background-color: rgb(232, 247, 199);
  text-align: center;
  font-weight: 900;
}

/* div.detail.content div.title {
  width: 25%;
  border: 1px solid #ccc;
  margin: 4px;
}
div.detail.content div.content {
  border: 1px solid #ccc;
  height: 50%
} */

div.bbs.detail.button.box {
  text-align: right;
}
