* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("/images/star.jpg");
  background-size: 100% 100%;
}

h1,
h2 {
  width: 60%;
  margin: 20px auto;
  text-align: left;
  color: white;
}

h1 {
  font-size: 35px;
}

div.list-table {
  width: 60%;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table.bbs.list tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 3fr;
}

table td,
th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  color: white;
}

div.bbs.index.button.box {
  text-align: right;
}

button.bbs.insert {
  margin: 10px 0;
  background-color: rgb(139, 167, 97);
  color: white;
}

button {
  padding: 10px 17px;
  margin: 10px;
  border: none;
  border-radius: 1em;
}

button:hover {
  cursor: pointer;
}
