doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/main.js")
  body
   
    //- <span style="font-size: 3em; color: white">
    //-   <i class="fa-regular fa-star"></i>
    //- </span>
    block content
