.Detail {
  margin: 0 120px 0 130px;
}

.Detail .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 74vmax;
}

.Detail input {
  outline: none;
}

.Detail .book {
  display: flex;
}

.Detail .book img {
  width: 220px;
  height: 310px;
  box-shadow: -5px 8px 10px #aeaeae;
}

.Detail .book .word {
  width: 100%;
  display: grid;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(186, 186, 186);
  margin: 0px 60px;
}

.Detail .book .word input {
  padding: 8px;
  font-weight: 700;
}
.Detail .book .word .book-detail {
  display: grid;
}

.Detail .book .word .book-detail input {
  width: 50%;
}

.Detail .book .word input:hover {
  background-color: #eee;
}

.Detail .book a {
  width: 150px;
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 1.5em;
}

.Detail .book a .arrow {
  color: white;
  margin-left: 5px;
  align-items: center;
}

.Detail .btn {
  text-align: right;
  margin: 0 60px 30px 0;
}

/* 별표 기능 */

.Detail .blank-star {
  position: relative;
  font-size: 35px;
  padding-left: 10px;
  max-width: 175px;
}

.Detail .blank-star span {
  position: absolute;
  overflow: hidden;
  font-size: 35px;
  opacity: 1;
  top: 0;
  left: 10px;
}

.Detail .blank-star input {
  padding: 7px 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
}

/* 등록 화면 */
.Detail input {
  border: none;
}
.Detail .top-title {
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  align-items: center;
}

.Detail .top-title select,
.Detail button.submit {
  border: none;
  outline: none;
  font-size: medium;
  font-weight: 600;
  padding: 12px;
}

.Detail .top-title select {
  border-radius: 1.5em;
  background-color: rgb(255, 243, 212);
}

.Detail button.submit {
  width: 25%;
  background-color: rgb(255, 243, 212);
}

.Detail button.submit:hover {
  transition: 0.2s;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

.Detail input[name="title"] {
  white-space: pre-wrap;
  font-size: 35px;
  font-weight: 800;
  width: 100%;
}
.Detail input[name="authors"] {
  font-size: 15px;
  font-weight: 600;
}

.Detail .mydetail {
  flex: 1;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 3fr 1.2fr;
}
/* .Detail .word input:focus {
  background-color: rgb(255, 242, 226);
} */

.mydetail .date div {
  display: grid;
  margin: 0 60px 13px 0;
}

.mydetail .date label {
  font-size: 17px;
  font-weight: 600;
}
