doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/main.css")
    script(src="/js/main.js")
    script(src="https://kit.fontawesome.com/0ab0aecea3.js" crossorigin="anonymous")
  body
    header.main
      <i class="fa-solid fa-list-ul fa-lg"></i>
      h1 별별
      <i class="fa-solid fa-magnifying-glass fa-lg"></i>

    block content
