.Detail {
  margin: 0 140px;
}

.Detail input {
  outline: none;
}

.Detail .book {
  display: flex;
}

.Detail .book img {
  width: 220px;
  height: 310px;
}

.Detail .book .word {
  width: 100%;
  display: grid;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(186, 186, 186);
  margin: 0px 60px;
}

.Detail .book a {
  width: 15%;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 1.5em;
}

.Detail .book a .arrow {
  color: white;
  margin-left: 5px;
  align-items: center;
}

/* 별표 기능 */

.Detail .star {
  position: relative;
  font-size: 35px;
  padding-left: 10px;
  max-width: 175px;
}

.Detail .star span {
  position: absolute;
  overflow: hidden;
  font-size: 35px;
  opacity: 1;
  top: 0;
  left: 10px;
}
.Detail .star input {
  padding: 7px 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 190px;
}

/* 등록 화면 */
.Detail input {
  border: none;
}
.Detail .top-title {
  display: grid;
  grid-template-columns: 4fr 0.5fr;
  align-items: center;
}

.Detail .top-title select,
.Detail button.submit {
  border: none;
  outline: none;
  font-size: medium;
  font-weight: 600;
  padding: 12px;
  border-radius: 1.5em;
  background-color: rgb(255, 243, 212);
}

.Detail input[name="title"] {
  font-size: 35px;
  font-weight: 800;
  width: 100%;
}
.Detail input[name="authors"] {
  font-size: 15px;
  font-weight: 600;
}

.Detail .mydetail {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 3fr 1.2fr;
}
/* .Detail .word input:focus {
  background-color: rgb(255, 242, 226);
} */

.mydetail .date div {
  display: grid;
  margin: 0 60px 13px 0;
}

.mydetail .date label {
  font-size: 17px;
  font-weight: 600;
}
