<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>today food</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/formA.css" />
    <script src="/js/fd_insert.js"></script>
    <script src="/js/nav.js"></script>
  </head>
  <body>
    <header>
      <h1>오늘의 음식</h1>
    </header>
    <nav class="main">
      <ul>
        <li>Home</li>
      </ul>
    </nav>
    <section>
      <!--
        if문 안쓰고 바로 include 하면 오류가 난다
      -->
      <%-include("./food/fd_insert") %> <%-include("./food/fd_list") %>
      <!-- <article>
        <a href="/food/insert" class="main insert">등록하기</a>
      </article> -->
    </section>
    <footer>
      <address>CopyRight &copy; bjw1403@gmail.com</address>
    </footer>
  </body>
</html>
