* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  width: 60%;
  text-align: left;
  font-size: 35px;
  margin: 20px auto;
  color: rgb(108, 131, 77);
}

div.list-table {
  width: 60%;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

div.bbs.index.button.box {
  text-align: right;
}

button.bbs.insert {
  margin: 10px 0;
  background-color: rgb(139, 167, 97);
  color: white;
}

button {
  padding: 10px 17px;
  margin: 10px;
  border: none;
  border-radius: 1em;
}

button:hover {
  cursor: pointer;
}
